@import "variables";

.nav-bg {
    background-color: $secundario;

    .navegacion {
        padding: 1rem;

        a {
            color: $blanco;
            text-decoration: none;

        }
    }
}