/*variables*/
/*variables*/
.nav-bg {
  background-color: #0097A7; }
  .nav-bg .navegacion {
    padding: 1rem; }
    .nav-bg .navegacion a {
      color: #fff;
      text-decoration: none; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 16px;
    font-family: 'Krub', sans-serif; }

.contenedor {
  width: 95%;
  margin: 0 auto; }

header .titulo {
  text-align: center;
  font-size: 3.8rem; }
